
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;



$color-primary-50: #dce9fd;
$color-primary-100: #cddffd;
$color-primary-200: #9dc0fa;
$color-primary-300: #6ca1f8;
$color-primary-400: #3b82f6;
$color-primary-500: #0b63f3;
$color-primary-600: #094fc2;
$color-primary-700: #073b91;
$color-primary-800: #042761;
$color-primary-900: #021430;
$color-primary-950: #010a1a;

$color-slate-25: #fbfcfe;
$color-slate-50: #f8fafc;
$color-slate-100: #f1f5f9;
$color-slate-200: #e2e8f0;
$color-slate-300: #cbd5e1;
$color-slate-400: #92a5b9;
$color-slate-500: #64748b;
$color-slate-600: #475569;
$color-slate-700: #334155;
$color-slate-800: #1e293b;
$color-slate-900: #0f172a;
$color-slate-950: #020617;

$color-success-50: #f0f9f0;
$color-success-100: #e2fdea;
$color-success-200: #aaeec2;
$color-success-300: #73d99d;
$color-success-400: #38c274;
$color-success-500: #259d59;
$color-success-600: #197641;
$color-success-700: #155138;
$color-success-800: #0f3a2f;
$color-success-900: #0c2f27;

$color-blue-50: #eff6ff;
$color-blue-100: #dbeafe;
$color-blue-200: #bfdbfe;
$color-blue-300: #93c5fd;
$color-blue-400: #60a5fa;
$color-blue-500: #3b82f6;
$color-blue-600: #2563eb;
$color-blue-700: #1d4ed8;
$color-blue-800: #1e40af;
$color-blue-900: #1e3a8a;
$color-blue-950: #172554;


$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
$color-gray-950: #0a0f1e;


$color-orange-50: #fff7ed;
$color-orange-100: #ffedd5;
$color-orange-200: #fed7aa;
$color-orange-300: #fdba74;
$color-orange-400: #fb923c;
$color-orange-500: #f97316;
$color-orange-600: #ea580c;
$color-orange-700: #c2410c;
$color-orange-800: #9a3412;
$color-orange-900: #7c2d12;
$color-orange-950: #5a1e08;


$color-yellow-50: #fefce8;
$color-yellow-100: #fef9c3;
$color-yellow-200: #fef08a;
$color-yellow-300: #fde047;
$color-yellow-400: #facc15;
$color-yellow-500: #eab308;
$color-yellow-600: #ca8a04;
$color-yellow-700: #a16207;
$color-yellow-800: #854d0e;
$color-yellow-900: #713f12;
$color-yellow-950: #422006;


$color-violet-50: #f5f3ff;
$color-violet-100: #ede9fe;
$color-violet-200: #ddd6fe;
$color-violet-300: #c4b5fd;
$color-violet-400: #a78bfa;
$color-violet-500: #8b5cf6;
$color-violet-600: #7c3aed;
$color-violet-700: #6d28d9;
$color-violet-800: #5b21b6;
$color-violet-900: #4c1d95;
$color-violet-950: #321575;

$color-warning-50: #fef2f2;
$color-warning-100: #fffcf5;
$color-warning-150: #fef7e6;
$color-warning-200: #fcf5d9;
$color-warning-300: #fae39e;
$color-warning-400: #f4cb62;
$color-warning-500: #caa53c;
$color-warning-600: #8d6c1f;
$color-warning-700: #5b4912;
$color-warning-800: #3a2f0d;
$color-warning-900: #1f1a0a;
$color-warning-950: #0f0d06;


$color-danger-50: #fde9e9;
$color-danger-100: darken($color-danger-50, 2%);
$color-danger-150: darken($color-danger-50, 5%);
$color-danger-200: #f3aaa7;
$color-danger-300: #e26464;
$color-danger-400: #db302f;
$color-danger-500: #cd2323;
$color-danger-600: #881c1c;
$color-danger-700: #601918;
$color-danger-800: #3c0f13;
$color-danger-900: #1f080a;
$color-danger-950: #0f0405;
