.page.authentication {

    display: grid;
    place-items: center;
    height: 100vh;
    height: 100dvh;

}

.authentication-layout {
    width: 100%;
    max-width: 20rem;
    padding-bottom: 10rem;
}